body{
    font-family: "Comic Neue", Bangers, "Fredoka One";
    font-size: 12px;
    text-align: center;
}
p {
    text-align:center;
    
}
th{
    background-color: lightgray;
}

/*a{
    color: green;
    background-color: yellow;
}*/

a:hover {
    color: red;
    /*background-color: blue;*/
}

h1 {
    font-size:24px;
}

h2 {
    font-size:20px;
}

p, label{
    font-size:14px;
}


form {
    font-family: "Comic Neue", Bangers, "Fredoka One" ;
}
input, button, textarea, select {
    border: 2px solid green;
    border_radius: 4px;
    padding: 5px;
    margin: 5px;
}

/* Index page changes */
.main-header {
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.top-nav a {
    text-decoration: none;
    color: black;
    font-size:20px;
    padding: 30px;
}

.top-nav a:hover {
    color: green;
    background-color: transparent;
}

.header-icons {
    display: flex;
    gap: 25px;
}

.icon-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid #3a3939;
    border-radius: 25px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    
}

.icon-btn:hover {
    background-color: green;
    color: white;
    border-color: green;
}


.banner {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 600px;
}


.product-card {
    background: white;
    border: 1px solid;
    border-radius: 9px;
    padding: 30px;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.product-card a {
    text-decoration: none;
    color: black;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
}


.top-nav {
    padding: 10px 0;
    margin: 0;
}

.category-nav {
    max-width: 1200px;
    padding: 20px;
}

.category-nav ul {
    list-style: none;
    padding: 0;
}

.category-nav li {
    margin: 10px 0;
}

main {
    max-width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
}


.auth-section {
    max-width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
}

.auth-section ul {
    list-style: none;
    padding: 0;
}


.auth-section li {
    margin: 10 px 0;
}


footer {
    max-width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
}


footer a {
    color: lightgreen;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* end of Index page changes */






