body{
    font-family: "Comic Neue", Bangers, "Fredoka One";
    font-size: 12px;
    text-align: center;
}
p {
    text-align:right;
    
}
th{
    background-color: lightgray;
}

a{
    color: green;
    background-color: yellow;
}

a:hover {
    color: red;
    background-color: blue;
}

